.header{
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 0px;
    width: 100%;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes top{
   to{
       transform: translateX(-100%);
   }
}
.header ul{
   display: flex;
   justify-content: center;
   gap: 12px;
   padding-top: 10px;
   animation: top 20s infinite linear;
}
.header:hover .header ul {
    animation-play-state: paused;
}
li{
   list-style-type: none;
}
.header a{
    text-decoration: none;
    color: black;
}
.after{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.linkss{
    text-decoration: none;
    position: relative;
}
.linkss::after{
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: rgb(229, 226, 226);
    bottom: 0;
    right: 0;
    position: absolute;
    /* transition: 2s; */
    z-index: -1;
}
.linkss::before{
    content: "";
    width: 0;
    height: 3px;
    border-radius: 2px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.linkss:hover::before{
    width: 100%;
}
.faq{
    position: relative;
}
.faq::after{
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(172, 168, 168, 0.5);
    bottom: 0;
    right: 0;
    position: absolute;
    /* transition: 2s; */
    z-index: 10;
}
.faq::before{
    content: "";
    width: 0;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: .5s;
    z-index: 20;
}
.faq:hover::before{
    width: 100%;
}
.empty{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;
    height: 100%;
    background-color: rgb(0, 0, 0 ,.5);
}
.first:hover .empty{
    display: block;
}
.second{
    background-image: url(img/award\ 19.jpg);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.third{
    background-image: url(img/award\ 18.jpg);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.thiss{
    height: 100%;
}
@media (min-width:576px){
    .para{
        margin-top: 30px;
    }
    .footer__object{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}